body {
    background-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
}
input {
    width: 80%;
    height: 5px;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #2a8b8b;
}

.container {
    background-color: #3e4b51;
    margin: auto;
    width: 700px;
    background: linear-gradient(to bottom, #2C1031, #531A5D); 
    border-radius: 5px;
    overflow: hidden;
}

.header {
    padding: 35px;
}

.section-input {
    text-align: center;
    background: linear-gradient(to bottom, #531A5D, #2C1031);
    border-radius: 5px;
    padding: 40px;
    margin: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
}

button {
    
    width: 100%;
    margin-top:  1rem;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    background-color: #1D0C20;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
}

button:hover {
    background-color: #1D0C20;
}

.column1 {
    background: linear-gradient(to bottom, #4A79F2, #ffffff);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    
}
.column2 {
    background: linear-gradient(to bottom, #4A79F2, #ffffff);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    
}
.column3 {
    background: linear-gradient(to bottom, #4A79F2, #ffffff);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);    
}
.image1 {
    margin: 10px;
}
.image2 {
    margin: 10px;
}

.image3 {
    margin: 10px;
}

.header-title {
    text-align: center;
    color: #F3C823;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.header-subtitle {
    text-align: center;
    color: #f0f0d8;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

.header-subtitle2 {
    text-align: center;
    color: #f0f0d8;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

.header-subtitle3 {
    text-align: center;
    color: #f0f0d8;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

span {
    color: #ffffff;
}

.title-input {
    text-align: center;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

@media screen and (max-width: 620px){
    html {
        font-size: 14px;
    }

    .flex-container {
        align-items: center;
        flex-direction: column;
    }

    .column1, .column2, .column3 {
        width: 100%;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
    }

    .header {
        padding: 15px;
    }
}