body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center; /* Centraliza todo o conteúdo */
}

container {
    display: block;
    margin-bottom: 20px;
}

h1[id^="tittle"] {
    color: #FECD23;
}

h1 {
    color: #ffff;
}

h2, h3 {
    margin-bottom: 10px;
    color: #ffff;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px; /* Bordas arredondadas */
}

/* Estilo específico para a seção principal */
#main {
    max-width: 700px; /* Defina a largura máxima do container main */
    margin: 0 auto; /* Centralize o container main na tela */
    background: linear-gradient(to bottom, #2C1031, #531A5D); /* Gradiente de azul para branco */
    padding: 20px;
    border-radius: 15px; /* Bordas arredondadas */
}

/* Estilo específico para a seção de entrada */
#input {
    background: linear-gradient(to bottom, #531A5D, #2C1031);
    padding: 40px;
    max-width: 700px;
    border-radius: 15px; /* Bordas arredondadas */
}

#Card {
    background: linear-gradient(to bottom, #4A79F2, #ffffff);
    display: inline-block;  
    vertical-align: top;
    cursor: pointer;
    margin-right: 2,5px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo quando o cursor passa sobre os cartões */
#Card:hover {
    background-color: #260F2E;
}


/* Estilo para o botão de votar */
#Card button {
    margin-top: 10px; /* Adiciona espaço acima do botão */
    padding: 10px;
    background-color: #1D0C20;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

/* Estilo para o SVG dentro do cartão */
#Card svg {
    width: 100px; /* Defina o tamanho desejado */
    height: 100px; /* Defina o tamanho desejado */
    margin-bottom: 10px; /* Adiciona espaço entre a imagem e o texto */
    margin: 0 auto; /* Centraliza o SVG horizontalmente */
}